In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in transactions data -- parse dates specified here for help with later problem

transactions = pd.read_csv("../retail/transactions.csv", parse_dates=["date"])

transactions.head()

        date  store_nbr  transactions
0 2013-01-01         25           770
1 2013-01-02          1          2111
2 2013-01-02          2          2358
3 2013-01-02          3          3487
4 2013-01-02          4          1922

In [4]:
# helper code to extract month date part from date column

transactions["month"] = transactions["date"].dt.month
transactions["year"] = transactions["date"].dt.year

transactions.head()

        date  store_nbr  transactions  month  year
0 2013-01-01         25           770      1  2013
1 2013-01-02          1          2111      1  2013
2 2013-01-02          2          2358      1  2013
3 2013-01-02          3          3487      1  2013
4 2013-01-02          4          1922      1  2013