In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
retail = pd.read_csv("../retail/retail_2016_2017.csv")

retail.head()

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [10]:
avg_sales = retail.groupby("date")[["sales"]].mean().reset_index()

avg_sales.sample(3)

           date       sales
447  2017-03-24  442.151586
369  2017-01-05  436.375395
285  2016-10-12  373.246957

In [11]:
avg_sales.dtypes

date      object
sales    float64
dtype: object

In [14]:
avg_sales["date"] = pd.to_datetime(
    avg_sales["date"],
    errors="coerce",
    infer_datetime_format=True)
avg_sales.dtypes

date     datetime64[ns]
sales           float64
dtype: object